.hero{
    background-color: transparent;
    width: 100%;
    position: relative;
    top: 5vh;
    height: auto;
    padding-left: 10%;
    z-index: 0;
    .hero__text_h1{
        color: #FFF;
        font-family: Poppins;
        font-size: 3vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transform: translateX(-200px);
        opacity: 0;
        background-color: transparent;
    }
    .title_view{
        transform: translateX(0) !important;
        opacity: 1 !important;
        transition: all 0.5s linear !important;
        
    }
    .hero__text_p{
        background-color: transparent;
        color: #BCBCBC;
        font-family: Poppins;
        font-size: 1.5vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-left: 3%;
        width: 51%;
        transform: translateX(200px);
        opacity: 0;
    }
    button{
        padding: 19px 64px 19px 63px;
        border-radius: 83px;
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
        border: none;
        color: #FFF;
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: all 2s ease;
        &:hover{
            background: linear-gradient(270deg,#945DD6  0%, #6978D1 66.67%, #13ADC7 100%);
        }
        margin-left: 9%;
        margin-top: 92px;
        margin-bottom: 150px;
        opacity: 0;
        transform: scale(0);
    }
    .button_view{
        opacity: 1 !important;
        transform: scale(1)!important;
        transition: all 0.5s linear !important;
    }
    .cube{
        width: 600px;
        height: 400px;

        position: absolute;
        right: -3%;
        bottom: -60px;
        transform: rotate(45deg) translateX(290px)translateY(-50px) ;
        opacity: 0;
        display: flex;
        flex-direction: column;
        z-index: -1;

        }
        overflow: hidden;
       
    }
    .cube_view{
        transform: rotate(45deg) translateX(0px) translateY(0px) !important;
        opacity: 1 !important;
        transition: all 0.4s linear !important;
    }

    .cube1{
        width: 100%;
        height: 125px;
        display: flex;

        flex-direction: row;
        justify-content: space-between;
    }
    .cube1_1{
        border: 1px solid #505685;
        height: 100%;
        width: 10px;
        flex-grow: 1;
    
    }
    .cube1_2{
        border-top: 1px solid #ff6a00c4;
        border-bottom: 1px solid #505685;
        border-right: 1px solid #505685;
        height: 100%;
        width: 10px;
        flex-grow: 1.5;
    }
    .cube1_3{
        border: 1px solid #505685;
        border-right: 1px solid #ff6a00c4;
        height: 100%;
        width: 10px;
        flex-grow: 1.5;
    }
    .cube1_4{
        border: 1px solid #505685;
        height: 100%;
        width: 10px;
        flex-grow: 1;
    }
    .cube2{
        width: 100%;
        height: 125px;
        display: flex;

        flex-direction: row;
        justify-content: space-between;
    }
    .cube2_1{
        border: 1px solid #505685;
        border-left: 1px solid #ff6a00c4;
        height: 100%;
        width: 10px;
        flex-grow: 1;
    }
    .cube2_2{
        border: 1px solid #505685;
       
        height: 100%;
        width: 10px;
        flex-grow: 2;
    }
    .cube2_3{
        border: 1px solid #505685;
     
        height: 100%;
        width: 10px;
        flex-grow: 1.5;
    }
   
    @media screen  and (max-width: 1200px){
        .cube{
            display: none !important;
        }
        .hero{
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 5px;
            z-index: 0;
        }
        .hero__text_h1{
            font-size: 6vw !important;
            text-align: center;
            opacity: 0;
            transform: translateY(-200px);
        }
        .hero__text_p{
            margin-left: 0 !important;

            padding: 0;
            text-align: center;
            font-size: 4vw !important;
            transform: translateX(200px);
            opacity: 0;
        }
        button{
            margin: 0;
            margin-left: 0 !important;
            margin-bottom: 0 !important;
            opacity: 0;
            transform: scale(0);
       

        }
        .title_view{
            transform: translateY(0) !important;
            opacity: 1 !important;
            transition: all 0.5s linear !important;
            
        }
        .button_view{
            opacity: 1 !important;
            transform: scale(1.5)!important;
            transition: all 0.5s linear !important;
        }
       
       
        
        

    }



