.Footer{
    width: 100%;
 
    margin-top: 10vh;
    display: flex;
    flex-direction: row;

  
    align-items: center;
    padding: 0 13%;
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        opacity: 0;
        transform:  scale(0);
       
    }
    .call_text{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span:first-child{
            flex-grow: 1;
            color: #FFF;
            font-family: Poppins;
            font-size: 2vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        span:last-child{
            flex-grow: 1;
            color: #FFF;
            font-family: Poppins;
            font-size: 2vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            
        }
        
    }

    .link_icon{
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;

        align-items: center;
        li{
            width: 4vw;
            height: 4vh;
            margin-right: 3%;
            a{
                font-size: 3vw;
                color: white;
            }
        }
    }
}
.wrapper__view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    opacity: 1 !important;
    transform:  scale(1) !important;
    transition: all 0.5s linear;
}